* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "airland";
    src: url("fonts/GLYPHWORLD-AIRLAND.woff2") format("woff2"), 
         url("fonts/GLYPHWORLD-AIRLAND.woff") format("woff"); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'animalsoul';
    src: url('fonts/glyphworld-animalsoul-webfont.woff2') format('woff2'),
         url('fonts/glyphworld-animalsoul-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-size: 1.5vw;
    line-height: 1.4em;
}

a {
    color: #000;
    text-decoration: none;
    
}

ul {
    font-family: 'airland'
}

ul:hover {
    text-decoration: underline;
}

/*------------------*
        menus  
*------------------*/
#drag-object {
    position: absolute;
    z-index: 9;
    text-align: center;
    left: 50%;
    top: 50%;
    list-style: none;
}

#drag-object-air {
    position: absolute;
    z-index: 9;
    list-style: none;
}
  
#drag-object-2 {
    position: absolute;
    z-index: 9;
    text-align: center;
    left: 25%;
    top: 30%;
    List-style: none;
}

#drag-object-3 {
    position: absolute;
    z-index: 9;
    text-align: center;
    left: 10%;
    top: 60%;
    List-style: none;
}

#drag-object-4 {
    position: absolute;
    z-index: 9;
    text-align: center;
    left: 75%;
    top: 60%;
    List-style: none;
}

.selected-object {
    padding: 10px;
    cursor: move;
    z-index: 10;
}

.selected-object-air {
    padding: 10px;
    cursor: move;
    z-index: 10;
}

/*------------------*
    menus > ICONS
*------------------*/

.notepad {
    width: 5rem;
}

.material {
    width: 15rem;
}

.references {
    width: 5rem;
}

.social {
    width: 4rem;
}

/*------------------*
        home
*------------------*/
.index-text {
    font-family: 'airland';
    font-size: 1.2rem;
    line-height: 1.05em;
    margin: 1.5rem 1.5rem;
    border: solid .1rem rgb(0, 255, 0);
    border-radius: .5rem ;
    padding: .5rem;
}

.air-icon {
    margin: 1.5rem 1rem;
    width: 4rem;
}

/*------------------*
      MANIFESTO 
*------------------*/
.back {
    font-family: 'airland';
    font-size: 5rem;
    margin: 1.5rem 0 1.3rem 0.5rem;
    border: rgb(0, 0, 0) solid 0.2rem;
    border-radius: 2rem;
    padding: 0.1rem 0.5rem 1.2rem 0.5rem ;
    display: inline-block;
}

.back:hover, .back2:hover {
    background-color: rgb(0, 255, 0);
    
}

div.manifesto {
    font-family: 'airland';
    font-size: 1.8rem;
    line-height: 1.1em;
    margin: 1rem .5rem 0 .5rem;
}

.marginbottom {
    margin-bottom: 0.6rem;
}

.marginbottom2 {
    margin-bottom: 1.5rem;
}

/*------------------*
        gallery 
*------------------*/
video {
    width:100%;
    height:100%;
}

.main-video {
    margin-bottom: 1rem;
}

/*------------------*
    background  
*------------------*/
.gradient-green {
    z-index: -2;
    margin: -1rem;
    padding: -1rem;
    height: 17rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(180deg, rgba(0,255,0,0), rgba(0,255,0,1));
    mix-blend-mode: hue;
}

/*------------------*
    information  
*------------------*/
.linkcolor {
    color: rgb(0, 255, 0);
}

.linkcolor:hover {
    text-decoration: underline;
}

/*------------------*
    media queries  
*------------------*/
@media screen and (max-width: 1025px) {
    :root {
        font-size: 2.5vw; 
    }

    #drag-object, #drag-object-2, #drag-object-3, #drag-object-4 {
        left: auto;
        top: auto;
        position: relative;
        display: inline-block;
        align-content: center;
    }

    .notepad {
        width: 9rem;
    }

    .references {
        width: 7rem;
    }

    .social {
        width: 4.3rem;
    }

    ul {
        text-decoration: underline;
    }
}

@media screen and (max-width: 769px) {
    :root{
        font-size: 2.5vw;
    }

    ul {
        text-decoration: underline;
    }

    .social {
        width: 4.5rem;
    }

}

@media screen and (max-width: 577px) {
    :root{
        font-size: 4vw;
    }
    .menu {
        margin-bottom: 1.5rem;
    }

    ul {
        text-decoration: underline;
    }

    #drag-object-air {
    position: relative;
    margin-bottom: -3rem;
    text-align: center;
    }

    #drag-object, #drag-object-2, #drag-object-3, #drag-object-4 {
    left: auto;
    top: auto;
    position: relative;
    display: inline-block;
    align-content: center;
    }

    .material {
        width: 8rem;
    }

    .social {
        width: 5.5rem;
    }

}
